.learn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 45vh;
    padding: 25px;
    line-height: 30px;
    background-color: lightgray;
    color: black;
}
h2 {
    margin-bottom: 10px;
    font-weight: bolder;
}